:root {
  /* Base colors */
  --color-transparent: transparent;
  --color-black: #22292f;
  --color-white: #eeeeee;

  /* Greys */
  --color-grey-darkest: #3d4852;
  --color-grey-darker: #606f7b;
  --color-grey-dark: #8795a1;
  --color-grey: #b8c2cc;
  --color-grey-light: #dae1e7;
  --color-grey-lighter: #f1f5f8;
  --color-grey-lightest: #f8fafc;

  /* Reds */
  --color-red-darkest: #3b0d0c;
  --color-red-darker: #621b18;
  --color-red-dark: #cc1f1a;
  --color-red: #e3342f;
  --color-red-light: #ef5753;
  --color-red-lighter: #f9acaa;
  --color-red-lightest: #fcebea;

  /* Oranges */
  --color-orange-darkest: #462a16;
  --color-orange-darker: #613b1f;
  --color-orange-dark: #de751f;
  --color-orange: #f6993f;
  --color-orange-light: #faad63;
  --color-orange-lighter: #fcd9b6;
  --color-orange-lightest: #fff5eb;

  /* Yellows */
  --color-yellow-darkest: #453411;
  --color-yellow-darker: #684f1d;
  --color-yellow-dark: #f2d024;
  --color-yellow: #ffed4a;
  --color-yellow-light: #fff382;
  --color-yellow-lighter: #fff9c2;
  --color-yellow-lightest: #fcfbeb;

  /* Greens */
  --color-green-darkest: #0f2f21;
  --color-green-darker: #1a4731;
  --color-green-dark: #1f9d55;
  --color-green: #38c172;
  --color-green-light: #51d88a;
  --color-green-lighter: #a2f5bf;
  --color-green-lightest: #e3fcec;

  /* Teals */
  --color-teal-darkest: #0d3331;
  --color-teal-darker: #20504f;
  --color-teal-dark: #38a89d;
  --color-teal: #4dc0b5;
  --color-teal-light: #64d5ca;
  --color-teal-lighter: #a0f0ed;
  --color-teal-lightest: #e8fffe;

  /* Blues */
  --color-blue-darkest: #12283a;
  --color-blue-darker: #1c3d5a;
  --color-blue-dark: #2779bd;
  --color-blue: #3490dc;
  --color-blue-light: #6cb2eb;
  --color-blue-lighter: #bcdefa;
  --color-blue-lightest: #eff8ff;

  /* Indigos */
  --color-indigo-darkest: #191e38;
  --color-indigo-darker: #2f365f;
  --color-indigo-dark: #5661b3;
  --color-indigo: #6574cd;
  --color-indigo-light: #7886d7;
  --color-indigo-lighter: #b2b7ff;
  --color-indigo-lightest: #e6e8ff;

  /* Purples */
  --color-purple-darkest: #21183c;
  --color-purple-darker: #382b5f;
  --color-purple-dark: #794acf;
  --color-purple: #9561e2;
  --color-purple-light: #a779e9;
  --color-purple-lighter: #d6bbfc;
  --color-purple-lightest: #f3ebff;

  /* Pinks */
  --color-pink-darkest: #451225;
  --color-pink-darker: #6f213f;
  --color-pink-dark: #eb5286;
  --color-pink: #f66d9b;
  --color-pink-light: #fa7ea8;
  --color-pink-lighter: #ffbbca;
  --color-pink-lightest: #ffebef;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
  margin: 0;
}

h1 {
  font-size: 1.875rem;
  margin: 0.5rem;

  @media (min-width: 768px) {
    font-size: 3rem;
  }
}

h3 {
  @media (min-width: 768px) {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}

main.home {
  min-height: calc(100vh - 1.5rem);
  height: 100%;
  padding: 0.75rem;
  font-family: monospace;
  background-color: var(--color-black);
  color: var(--color-grey-lightest);
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "projects header"
    ". nav";
  overflow: auto;

  & > header {
    grid-area: header;
    position: relative;

    @media (min-width: 768px) {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }

  & > .projects {
    grid-area: projects;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    & > a {
      color: inherit;
      text-decoration: none;
    }
  }

  & > nav {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;

    & > a {
      font-size: 2.25rem;
      margin-top: 0.25rem;
      padding: 0.25rem 0.5rem;
      border-radius: 0.25rem;
      color: var(--color-yellow-lightest);
      text-decoration: none;
      transition: all 0.1s ease-in-out;

      &:hover {
        color: var(--color-black);
        background-color: var(--color-yellow-lightest);
      }

      @media (min-width: 768px) {
        font-size: 1.875rem;
      }
    }
  }
}

article {
  margin: 1.5rem auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  & > p {
    padding: 1.5rem;
  }
}

.periodic-table-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 10fr 5fr 1fr;
  grid-template-rows: 1fr 2fr 4fr 1fr 2fr;
  grid-template-areas:
    "alkali . . . nobles"
    "alkali alkaline-earth . metalloids-ish nobles"
    "alkali alkaline-earth metals metalloids-ish nobles"
    ". . . . ."
    ". . weirdos weirdos weirdos";

  & > span {
    display: block;

    &.alkali {
      grid-area: alkali;
      background-color: var(--color-grey);
      color: var(--color-grey);
    }

    &.alkaline-earth {
      grid-area: alkaline-earth;
      background-color: var(--color-red-light);
      color: var(--color-red-light);
    }

    &.metals {
      grid-area: metals;
      background-color: var(--color-pink-light);
      color: var(--color-pink-light);
    }

    &.metalloids-ish {
      grid-area: metalloids-ish;
      background-color: var(--color-orange-light);
      color: var(--color-orange-light);
    }

    &.nobles {
      grid-area: nobles;
      background-color: var(--color-blue-light);
      color: var(--color-blue-light);
    }

    &.weirdos {
      grid-area: weirdos;
      background-color: var(--color-green-light);
      color: var(--color-green-light);
    }
  }
}
